{% extends 'layout.html.twig' %}

{% block content %}
	<header>
		<img class="logo" src="/assets/images/final_destination_1_logo2.png">
		<form action="" method="GET">
			<input type="search" class="search" id="search" name="title" value="{{ search.title }}" placeholder="Faites le grand saut..."></input>
	</form>
</header>
<main class="container">
	<div class="presentation">
		<p>Bienvenue chez "Destination Finale", l'entreprise qui redéfinit l'aventure jusqu'au dernier instant ! Nos voyages sur mesure vous transportent vers des destinations captivantes, avec une touche de légèreté face à l'absurdité de la vie. Préparez-vous à explorer des lieux uniques, en faisant face à l'inévitable avec un sourire complice. Rejoignez-nous pour une expérience de voyage inoubliable et laissez-vous emporter par l'excitation de chaque instant. Destination Finale, faites le grand saut vers l'inconnu !</p>
		<div class="gift">
			<h1>Nos cartes cadeaux</h1>
			<div class="forfait">
				<article class="formula">
					<a href="/travel/show?id=2">
						<h3>Formule Solo</h3>
					</a>
				</article>
				<article class="formula">
					<a href="/travel/show?id=6">
						<h3>Formule Duo</h3>
					</a>
				</article>
				<article class="formula">
					<a href="/travel/show?id=11">
						<h3>Formule Troisième Âge</h3>
					</a>
				</article>
				<article class="formula">
					<a href="/travel/show?id=8">
						<h3>Formule Premium</h3>
					</a>
				</article>
				<article>
					<a href="/travel/show?id=5">
						<h3>Formule pour les pauvres</h3>
					</a>
				</article>
				<article>
					<a href="/travel/show?id=7">
						<h3>Formule torture</h3>
					</a>
				</article>
			</div>
		</div>
	</div>
	<div>
		<div class="pop-up-content">
			<article class="pop-up">
				<img src="/assets/images/mamie1.png" class="mamie">
				<h2>⭐️ Offrez une belle fin à vos proches ! ⭐️</h2>
			</article>
		</div>
	</div>
	{% include 'Home/cards.html.twig' %}
	<h2>Trouvez l'endroit parfait pour mettre fin à vos jours</h2>
	<div class="containerForm">
		<form id="search_form" class="input-group">
			<input id="textbox" type="search" placeholder="Faites le grand saut..." aria-describedby="button-search" class="form-control "/>
		</form>

		<div class="container">
			<div id="info" class="alert alert-primary"></div>
			<div class="row">
				<div id="list" class="list-group"></div>
				<nav class="text-center">
					<button id="next_button" type="button" class="btn">
						Next
					</button>
				</nav>
			</div>
			<div id="poi" class="alert"></div>
		</div>
	</main>
	{% include 'Components/_footer.html.twig' %}
{% endblock %}
{% block javascript %}
	<script src="/assets/JS/script.js"></script>
{% endblock %}
