<!doctype html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">
        <script src="https://unpkg.com/scrollreveal"></script>

		<title>
			{% block title %}Destination Finale
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<link rel="stylesheet" href="/assets/css/style.css"> {% block stylesheet %}{% endblock %}
		</head>

		<body>
			{% block content %}{% endblock %}
			{% block javascript %}
            <script>
            ScrollReveal().reveal('.logo', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.search', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.card', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.pop-up', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.presentation', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.gift', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.formula', {duration: 2000, interval: 200})
            ScrollReveal().reveal('.form-control', {duration: 2000, interval: 200})
            </script>{% endblock %}
		</body>
	</html>
