.container-fluid {
    display:flex;
    width: 95%;
    margin-inline-start: 0%;
}

/*html.sr .card {
    visibility: hidden;
}*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: auto;
    gap: var(--spacing3);
}

.card h3 {
    font-family: var(--sizeText);
    font-size: var(--sizeText2);
    margin-bottom: var(--spacing1);
    margin-block-start: var(--spacing1);
}

h4 {
    margin-block-start: auto;
    
}

.card header {
    height: 400px;
    display: flex;
    justify-content: center;
    margin-block-end: auto;
}

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--borderRadius);
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: var(--card-shadow);
    justify-content: space-around;
}

.label {
    border-radius: 5px;
}

.text {
    /*margin-block-end: auto;*/
    margin-bottom: calc(var(--spacing1) * 1.5);
}

[role=button] {
    display: flex;
    --background-color: #FFA384;
    margin-block-start: auto;
    height: var(--spacing2);
    justify-content: center;
    align-items: center;
    margin: 0;
    --border-color: #FFA384;
}

[role=button]:is([aria-current], :hover, :active, :focus) {
    --background-color: #FFA384;
    --border-color: #FFA384;
    --color: #EFE7BC;
}

[role=button]:is([aria-current], :hover) {
    --background-color: #EFE7BC;
    --color: var(--light);
    --border-color: #EFE7BC;
}
