.container{
    width: var(--clamp60);
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTravel {
    margin-top: var(--spacing1);
}

.return{
    align-self: flex-start;

}

.headerTravel>h1 {
    margin-bottom: var(--spacing1);
}

.headerTravel>p {
    margin-bottom: var(--spacing3);
    font-size: 1.15rem;
}

.gridtravel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing2);
}

.gridtravel img {
    box-shadow: var(--card-shadow);
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price>h2 {
    border-radius: 2px;
    font-size: var(--sizeTitle);
    border: solid 1px var(--dark);
    box-shadow: var(--card-shadow);
    padding: var(--spacing4);
    margin-bottom: var(--spacing2);
}

.mainTravel {
    background-color: var(--light);
    padding: var(--spacing2);
    margin-top: var(--spacing5);
}

.textTravel {
    background-color: white;
    margin: var(--spacing2);
    padding: var(--spacing2);
    border-radius: 4px;
}

@media screen and (max-width: 767px) {
    .container{
        width: var(--clamp90);
    }
    .gridtravel {
        display: grid;
        grid-template-columns: 1fr;
    }
    .textTravel{
        margin:0px;
        margin-top: var(--spacing2);
    }
}