@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600;700&family=Lora:wght@400;500;600&display=swap');


[data-theme="light"],
:root:not([data-theme="dark"]) {
/*     --primary: var(--primary);
    --secondary: var(--secondary);
    --background-color: none; */
}

:root {
    --primary: #74BDCB;
    --secondary: #FFA384;
    --light: #e7f4fb;
    --intermadiate: #EFE7BC;
    --dark: #021b1f;

    --spacing: 0.5rem;
    --spacing1: 1rem;
    --spacing2: 2rem;
    --spacing3: 3rem;
    --spacing4: 4rem;
    --spacing5: 5rem;

    --box-shadow: -18px 10px 15px -3px var(--dark);

    --font-title: 'Cormorant', serif;
    --font-text: 'Lora', serif;

    --sizeTitle: 2rem;
    --sizeTitle2: 1rem;
    --sizeText: 0.87rem;
    --sizeText2: 1.25rem;

    --firstPlan: 10;
    --secondPlan: 5;
    --thirdPlan: 2;

    --clamp60: clamp(650px, 60vw, 1200px);
    --clamp90: clamp(200px, 90vw, 690px);
    --card-shadow: 2px 2px 7px 2px #FFA384, -3px 2px 7px 3px #EFE7BC,
     -3px -2px 7px 3px #e7f4fb, 6px -2px 7px 3px #74BDCB, 6px 5px 7px 3px #e7f4fb,
      -5px 5px 7px 3px #FFA384, -5px -3px 7px 1px #8E5CFF, 3px 2px 2px 2px rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
}

img {
    width: 100%;
    object-fit: cover;
}

body>header {
    background-image: url("/assets/images/cloud.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    height: 100vh;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    background-color: var(--light);
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
    width: 60%;
}

.presentation>p {
    margin: var(--spacing4);
    font-family: var(--font-title);
    text-align: center;
    font-size: calc(var(--sizeText)*1.6);
}

.forfait {
    display: flex;
    margin: auto;
    margin: var(--spacing5);
    gap: var(--spacing3);
}

.forfait>article {
    width: calc(var(--spacing5)*2.5);
    height: calc(var(--spacing5)*2.5);
    box-shadow: var(--card-shadow);
    margin: auto;
    gap: var(--spacing1);
}

.pop-up {
    height: calc(var(--spacing5)*2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: var(--spacing5);
    background-color: var(--secondary);
}

h2 {
    text-align: center;
    font-family: var(--font-title);
    margin: 0;

}

.pop-up .mamie {
    height: 150%;
    width: 20%;
}

.pop1>article {
    width: calc(var(--spacing5)*4);
    height: calc(var(--spacing5)*7);
    margin: auto;
    gap: var(--spacing1);
}

.populaire .pop1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: auto;
    margin: var(--spacing5);
    gap: var(--spacing3);
}

.pop1 img {
    width: calc(var(--spacing5)*10);
    height: calc(var(--spacing5)*2.5);
}

.pop1 h3 {
    font-family: var(--sizeText);
    font-size: var(--sizeText2);
    margin-bottom: var(--spacing1);
}

.pop1 p {
    margin-bottom: var(--spacing1);
}